.container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.container form {
    padding: 2rem;
    border: black 2px solid;
    border-radius: 5px;
    text-align: center;
}

.container #result {
    display: none;
    padding: 2rem;
    border: black 2px solid;
    border-radius: 5px;
    text-align: center;
}

input {
    padding: 10px 0px;
    outline: none;
    font-size: 18px;
    padding: 10px;
}

input[type="number"] {
    width: 70%;
    border: black 1px solid ;
}

input:hover, :focus {
    border: blue 1px solid ;
}

input[type="submit"] {
    width: 20%;
    border: black 1px solid ;
    cursor: pointer;
}

input[type="submit"]:hover {
    border: green 1px solid ;
    background-color: #9ee9ae;
}